@font-face {
  font-family: "Heebo";
  font-weight: 400;
  src: url('./assets/Heebo/Heebo-Regular.ttf')
}

@font-face {
  font-family: "Heebo";
  font-weight: 500;
  src: url('./assets/Heebo/Heebo-Medium.ttf')
}



